* {
  font-family: 'Nunito', sans-serif;
  font-size: 1.125em;
}

#header{
  font-family: 'Handlee', cursive;
  color: #F5F5F5;
  font-size: 2.8em;
  margin: auto;
  width: 35%;
  padding-bottom: 1%;
}

body {
  line-height: 1.6;
  background-image: url("img/board.gif");
  background-position: left;
  background-repeat: no-repeat;
  font-family: 'Nunito', sans-serif;
  /* color: #181818; */
  color: #F5F5F5;
}















@import url('https://fonts.googleapis.com/css?family=Nunito:400,600');
@import url('https://fonts.googleapis.com/css?family=Handlee|Nunito:400,600');

